@@ -23, 7+23, 10 @@ body *::selection {
    width: 100%;
}

h1,
h2,
h3 {

    h1,
    h2,
    h3,
    h4 {
        color: #1a1a1a;
        font-weight: 300;
    }

    @ -36, 13+39, 19 @@ h1 {

        h2 {
            margin: 0 0 10px;
            font-size: 25px;
            font-size: 22px;
            line-height: 30px;
        }

        h3 {
            margin: 0;
            font-size: 20px;
            font-size: 16px;
            line-height: 25px;
        }

        h4 {
            margin: 0;
            font-size: 14px;
            line-height: 25px;
        }

        @ -85, 7+94, 8 @@ p.lead.authors a {
            border-bottom: none;
        }

        a:hover,
        a:focus {

            a:hover,
            a:focus {
                color: inherit;
                text-decoration: none;
            }

            @ -149, 7+159, 8 @@ pre {
                padding: 10px 0 0 3px;
            }

            #sequence text,
            #legend text {

                #sequence text,
                #legend text {
                    font-weight: 300;
                    fill: #fff;
                }

                @ -195, 14+206, 14 @@ pre {

                    .vid-container iframe {
                        position: absolute;
                        top: 0;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }

                    .col-xs-12.sponsor a {
                        border-bottom: 0px;
                        border-bottom: 0px;
                    }

                    .paper-title {
                        @ -210, 7+221, 7 @@ pre {
                            color: black;
                        }

                        .paper-list>li {
                            .paper-list>li {
                                margin-bottom: 10px;
                            }

                            @ -221, 3+232, 20 @@ pre {
                                .paper-meta {
                                    font-size: 15px;
                                }

                                .blue-text {
                                    color: #1E7DFE;
                                }

                                .red-text {
                                    color: red;
                                }

                                .purple-text {
                                    color: #9C1EFE;
                                }

                                .table-container {
                                    padding: 20px;
                                    font-style: normal;
                                }